<% @poems.each do |poem| %>
  <section class='poem'>
    <h2>Title: <%= poem.title %></h2>
    <p>Author: <%= poem.author %></p>
    <p>Poem: <%= poem.lines %></p>
    <p class="tones">
      Tone(s):
      <ul><% poem.tones.each do |tone| %>
        <li>Score: <%= tone.score %></li>
        <li>Name: <%= tone.name %></li><br>
      <% end %></ul>
    </p>
  </section><hr>
<% end %>
